{% extends vespolina_layout_template %}

{% block navigation %}
    <ol class="breadcrumb">
      <li><a href="{{ path('v_store_home') }}">Home</a></li>
      <li class="active">{{product.name}}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="v-product-detail">
        <div class="row">
            <div class="col-md-7">
                <div class="v-product-primary-media-item">
                    <a href="#" class="thumbnail">
                        {% set asset = assetManager().getAsset(product, 'product_main_detail')  %}
                        {% if asset is not null %}
                            <img src="{{asset.uri }}" />
                        {% else %}
                            <img data-src="holder.js/100%x450" />
                        {% endif %}

                    </a>
                </div>
            </div>
            <div class="v-product-order col-md-5">
                <div class="v-product-price well">
                    <p class="v-product-unit-price-total">{{ price( product, 'unit') }}</p>

                    <p class="v-product-unit-price-msrp-total">{{ price( product,'unitMSRPTotal')}}</p>

                    <p class="v-product-msrp-discount-rate">Save {{ price( product, 'MSRPDiscountRate') }}%</p>

                    <div>
                        <a class="btn btn-primary" href="{{ path('v_cart_add_product', {'productId': product.id}) }}">Add to Cart</a>
                    </div>
                </div>

                <span class ="v-product-description">
                    {{ product.description }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Complimentary Products</a></li>
                    <li><a href="#">Product Information</a></li>
                </ul>
                <ul class="v-complimentary-products list-unstyled">
                    {% for i in 1..6 %}
                        <li class="col-md-2">
                            <a href="#" class="thumbnail">
                                <img data-src="holder.js/100%x100" />
                            </a>
                        </li>
                    {% endfor %}
                    {#{% for asset in assetManager().getAssets(product, 'secondary_detail') %}#}
                    {#<li class="col-md-2">#}
                    {#<a href="#" class="thumbnail">#}
                    {#<img src="{{ asset( asset.filename) }}" />#}
                    {#</a>#}
                    {#</li>#}
                    {#{% endfor %}#}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
