{% extends vespolina_layout_template %}

{% block navigation %}
    <ol class="breadcrumb">
      <li><a href="{{ path('v_store_home') }}">Home</a></li>
      <li class="active">{{product.name}}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="v-product-detail" v-product>
        <div class="row">
            <div class="col-md-7">
                <div class="v-product-primary-media-item">
                    {{ product.name }}
                    <a href="#" class="thumbnail">
                        {% set asset = assetManager().getAsset(product, 'product_main_detail')  %}
                        {% if asset is not null %}
                            <img src="{{asset.uri }}" />
                        {% else %}
                            <img data-src="holder.js/100%x450" />
                        {% endif %}

                    </a>
                </div>
            </div>
            <div class="v-product-order col-md-5">
                <div class="v-product-price well">
                    <p class="v-product-unit-price-total">{{ price( product, 'unit') }}</p>
                    {% if hasPrice(product, 'unitMSRPTotal') %}
                    <p class="v-product-unit-price-msrp-total">{{ price( product,'unitMSRPTotal')}}</p>
                    {% endif %}
                    {% if hasPrice(product, 'MSRPDiscountRate') %}
                    <p class="v-product-msrp-discount-rate">Save {{ price( product, 'MSRPDiscountRate') }}%</p>
                    {% endif %}
                    <div>
                        <a class="btn btn-primary" href="{{ path('v_cart_add_product', {'productId': product.id}) }}">Add to Cart</a>
                    </div>
                </div>

                <span class="v-product-description">
                    {{ product.description }}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-product-options></div>
            </div>
        </div>
    </div>
{% endblock %}
