<div class="row">
    <div class="col-md-12">
        <div class="row">
            {% for product in productsPager %}
            <div class="col-md-4 v-product-tile">
                <div class="thumbnail">
                    <a href="{{ path('v_product_detail', { 'slug': product.slug }) }}">
                        {% include 'VespolinaCommerceBundle:Default:_product_primary_media.html.twig' with {'product': product } %}
                    </a>
                    <div class="caption">
                        <span class="v-product-name">
                            <a href="{{ path('v_product_detail', { 'slug': product.slug }) }}">
                                {{ product.name }}
                            </a>
                        </span>
                        <span class="v-product-prices">
                           <div class="v-product-unit-price-total">
                           {{ price(product, 'unitPriceTotal') }}
                           </div>

                        </span>
                       <div class="v-product-brief-description">
                           Brief description about this cool product
                       </div>

                        <div class="v-product-box">
                            <div class="v-product-box-quick-details">
                                Additional product detail, such as size of the goods
                            </div>
                            <div class="v-product-box-actions">
                              <a class="btn btn-primary" href="{{ path('v_cart_add_product', {'productId': product.id}) }}">Add to Cart</a>
                                <!--
                                <div class="v-product-unit-price-msrp-total">
                                    Was {{ price(product, 'unitPriceMSRPTotal') }}, you save {{ price(product, 'MSRPDiscountRate', '%') }}
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                {% if loop.index is divisibleby (3) %}
        </div>
        <div class="row">
                {% endif %}
            {% else %}
            No products loaded.
            {% endfor %}
        </div>
        <div class="row">
            <div class="navigation pagerfanta">
                {# {{ pagerfanta(productsPager) }} #}
            </div>
        </div>
    </div>
</div>
